.artworkCard {
  padding: 20px;
  margin: 10px;
  width: 400px;
  color: #4365a3;
  box-shadow: 0px 3px 15px rgba(175, 175, 175, 0.2);
}

.artworkCard:hover {
  padding: 20px;
  margin: 10px;
  width: 400px;
  color: #4365a3;
  box-shadow: 0px 3px 15px rgba(83, 83, 83, 0.2);
}

.heroPic {
  width: 300px;
  align-content: center;
}
